@import "variables.scss";

.player {
    margin-top: 50px;
    height: 250px;
    background-color: $player-background;
    box-shadow: 0 2px 10px rgb(0 0 0 / 60%);
    border-radius: 15px 15px 0 0;
}