/**
  В целом идея понятная, ты собрал все переменные в один файл, но проблема в том что очень часто такие цвета
  будут использоваться в проекте один раз. Здесь складывают цвета, которые относятся к цветовой теме сайта в целом, типа
  $primary, $secondary, $border-color и т.д.

  Есть способ лучше, надо было использовать css variables
  например тебе надо сделать кнопку

  .button {
    background: var(--button-bg-color, #000);
    color: var(--button-color, #fff);
  }

  соответственно если тебе надо переопределить цвета кнопки далее ты добавляешь в сборку файлик overrides.scss и там пишешь
  :root {
    --button-bg-color: blue;
    --button-color: red;
  }

  этот способ лучше, т.к. не требует собирать все цвета воедино, если есть общие цвета сайта, то добавится ещё файлик variables.scss
  как у тебя, но там не будет scss переменных, будут тоже css variables
  :root {
    --primary-color: green;
    --container-bg-color: #f90
  }
 */

//**************************************************Цвета
//_card.scss
//старайся не использовать rgb вообще, если это допустимо, там где можно использовать hex, например #fff вместо rgb(255, 255, 255)
//hex считается стандартным, rgb нет, используется обычно только для rgba() когда есть прозрачность, да и там можно rgba(#f90, 0.4)
$card-hover-border: rgb(255, 255, 255);
$card-group-text: rgb(255, 255, 255);
$card-text-shadow1: rgb(0, 0, 0);
$card-text-shadow2: rgb(0, 0, 0);
$card-text-shadow3: rgb(0, 0, 0);
$card-text-shadow4: rgb(0, 0, 0);

//_header.scss
$header-logo: rgb(255, 255, 255);
$header-text-link: rgb(255, 255, 255);
$header-text-link-hover: #2b1055;
$header-background-hover: rgb(255, 255, 255);
$header-background-active: rgb(255, 255, 255);
$header-text-link-active: #2b1055;

//_page.scss
$page-background: #2b1055;

//_player.scss
$player-line: #F44336;
$player-circle: #F44336;
$player-progress: rgba(255, 255, 255, 0.3);
$player-background: #1A1B1E;
$player-setting: #fff;
$player-controls: #fff;

//_playlist.scss
$playlist-playing: #f4d836;
$playlist-state: #ddd;
$playlist-background: #1A1B1E;
$playlist-border-bottom: rgba(255 , 255, 255, 0.2);
$playlist-name-music: #fff;
$playlist-name-group: #929292;

//_search-panel.scss
$search-panel-button: rgb(87, 236, 87);

//_info.scss
$info-item-text: #fff;

//_reset.scss
$theme-inverse: #fff;

//**************************************************Ссылки
// _card.scss
$card-album: "https://static.mp3xa.cc/album_images/400x400/nervy-samyjj-dorogojj-chast-1.jpg";

// _player.scss
$player-album: "https://static.mp3xa.cc/album_images/400x400/nervy-samyjj-dorogojj-chast-1.jpg";

// _playlist.scss
$playlist-miniature: "https://static.mp3xa.cc/album_images/400x400/nervy-samyjj-dorogojj-chast-1.jpg";
