@import "variables.scss";

.player {
    &__image {
        position: absolute;
		z-index: 1;
        height: 250px;
        width: 250px;
        // background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
        // url($player-album);
        background-size: cover;
        border-radius: 15px 0 15px 0;
        object-fit: cover;
    }

    &__header {
        margin-top: 5px;
		position: relative;
		z-index: 3;
		min-height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
    }

    &__settings {
        display: flex;
        color: $primary-color;

        .search {
            padding-right: 10px;
        }
    }

    &__interface {
        position: relative;
		z-index: 3;
		padding-top: 30px;
    }
}