.card {
    height: 400px;
    width: 400px;
    margin-top: 40px;
    background: grey;
    border-radius: 10px;
    transition: background 1s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 60%);
    // зачем этот комментарий? Благодаря бэм методологии и так понятно что тут написано
    // .card__border

    &__border {
        height: 390px;
        width: 390px;
        background: transparent;
        border-radius: 10px;
        transition: border 1s;
        position: relative;
      
        &:hover
        {
            border: 1px solid white;
        }
    }

    // зачем этот комментарий? Благодаря бэм методологии и так понятно что тут написано
    // .card__group

    &__group {
        // шрифт можно было бы описать в миксине и импортить сюда
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s;
        text-shadow: 1px 0 1px #000, 
                    0 1px 1px #000, 
                    -1px 0 1px #000, 
                    0 -1px 1px #000;
    }
}

// по хорошему урлы как и цвета нужно вынести в отдельный файл и импортить оттуда
.img {
    background: url(https://static.mp3xa.cc/album_images/400x400/nervy-samyjj-dorogojj-chast-1.jpg) center center no-repeat;
    background-size: 400px;
  
    &:hover
    {
        // бесполезный стиль, ты же описывал background на 54 строчке
        background: url(https://static.mp3xa.cc/album_images/400x400/nervy-samyjj-dorogojj-chast-1.jpg) center center no-repeat;
        background-size: 500px;
        
        .card__group {
            opacity: 1
        }
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // пусто, удали
}
